<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
window.onload = function(){

  var monetizationStartEventOccurred = false
  hideContent()

  const link =
    document.querySelector('link[rel="monetization"]')

  if (link.relList.supports('monetization')){
    document.addEventListener('monetization', function(event){
      monetizationStartEventOccurred = true
      showContent()
    });
  } else {
    hideContent()
  }

  function hideContent() {
    document.getElementById("exclusiveThanks")?.style.display = 'none'
    document.getElementById("exclusiveError")?.style.display = 'block'
    document.getElementById("exclusive")?.style.display = 'none'
  }

  function showContent() {
    document.getElementById("exclusiveThanks")?.style.display = 'block'
    document.getElementById("exclusiveError")?.style.display = 'none'
    document.getElementById("exclusive")?.style.display = 'block'
  }
}
</script>